!!!
doctype 5
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', xmlns:fb='http://ogp.me/ns/fb#')
 head
  link(rel='stylesheet',href='/stylesheets/ng-twitter.css')
  script(type='text/javascript', src='/bower_components/angular/angular.min.js')
  script(type='text/javascript', src='/bower_components/angular-sanitize/angular-sanitize.min.js')
  script(type='text/javascript', src='/javascripts/ng-twitter.js')
  body
        
   div(ng-app="myApp", ng-controller="ctrl")
    div(tweets, key="authKey", hashtag="hashtag", button="true", hash='true', count="15", refresh="30")
    div
        script(data-gittip-username="darul75" data-gittip-widget="button" src="//gttp.co/v1.js")
   script.
    var app = angular.module('myApp', ['ngTwitter']);
    function ctrl($scope, $filter) {
     $scope.authKey = 'bzJZSlN4ZnJUYWhyeXdub2R4MzJBOkFHSmw5MnJIeEFTRkpYVW9BSm8zMEpTQzU2Wm0zNFZxZmFVZFh1TUZWamc=';
     $scope.hashtag = 'football';
    }